.words {
    display: flex;
    flex-direction: column;
    gap: 15px;
  .process {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    textarea {
      resize: none;
      max-width: 1142px;
      width: 100%;
      padding: 8px;
      font-size: 16px;
      border-radius: 6px;
      background-color: rgba(252, 252, 253, 1);
      border: 1px solid rgba(210, 214, 219, 1);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
    button {
      all: unset;
      padding: 10px;
      gap: 6px;
      border-radius: 4px;
      color: white;
      background: rgba(115, 30, 226, 1);
      font-weight: 500;
      cursor: pointer;
    }
  }
  .table {
    .thead {
      display: flex;
      width: 541px;
      background: rgba(255, 255, 255, 1);
      padding: 12px, 16px, 12px, 16px;
      @media (max-width: 375px){
        max-width: 240px;
      }
      p {
        padding: 10px 16px;
        width: 314px;
        border: 1px solid rgba(229, 231, 235, 1);
      }
    }
    .tbody {
      width: 541px;
      background: rgba(234, 236, 240, 0.4);
      display: flex;
      @media (max-width: 375px){
        max-width: 240px;
      }
      p {
        padding: 10px 16px;
        width: 314px;
        border: 1px solid rgba(229, 231, 235, 1);
      }
    }
  }
  .word_meaning {
    max-width: 1290px;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 4px;
    border: 1px solid rgba(210, 214, 219, 1);
    .info {
      display: flex;
      gap: 14px;
      p {
        &:nth-child(1) {
          font-size: 18px;
          font-weight: 500;
          line-height: 21.6px;
          text-align: left;
          color: rgba(71, 84, 103, 1);
          min-width: 137px;
        }
        &:nth-child(2) {
          font-size: 16px;
          font-weight: 500;
          line-height: 19.2px;
          text-align: left;
          color: rgba(17, 25, 39, 1);
        }
      }
    }
  }
}
